<div class="slide1">
  <img src="../../../assets/price/slider1.png" alt="slider1" />
</div>

<div class="container">
  <div class="container-logo">
    <div class="image-section">
      <img src="../../../assets/price/logo_design1.png" />
    </div>

    <div class="text-section-logo">
      <!-- {{ fileContent }} -->
      <h1>Logo</h1>
      <h2>A. Logo start: €200</h2>
      -Functional logo based on checklist (shape, subject, color) or digitizing
      a supplied sketch
      <br />
      - Concrete proposal to which minor adjustments are still
      possibfa-pull-left
      <br />
      - Elaboration and delivery in a complete file format package*.
      <br />
      <br />

      <h2>B. Customized logo: €395.00</h2>
      A custom-designed logo based on new requirements and wishes
      <br />
      - Sketch phase (3 to 5 sketches)
      <br />- Elaboration of first choice <br />- Color variants of the chosen
      design <br />- Elaboration and delivery in a complete file format
      package*.
      <br />
      <br />

      <h2>C. Logo extra: €575</h2>
      A custom-designed logo based on new requirements and wishes plus extras
      <br />
      <br />- Preliminary study (3 to 5 sketches) <br />- Elaboration of first
      choice <br />- Color variants on the chosen design <br />- Extra: visual
      elements/icons or variants on logo (eg for business units) <br />-
      Elaboration and delivery in a complete file format package*.
      <br />*Complete file format package
      <br />

      <br />1. Eps in PMS and CMYK colors (for house style applications)
      <br />2. Large format psd and tif in CMYK color (for prints & digital
      processing) <br />3. Large and small format jpg in RGB (e-mail & website
      applications)
    </div>
  </div>
</div>
<div class="container">
  <div class="container-house">
    <div class="image-section">
      <img src="../../../assets/price/huisstijl_design1.png" />
    </div>
    <div class="text-section-house">
      <!-- {{ fileContent }} -->
      <h1>House Style</h1>
      <br />
      <p>Elaborate costs into house style items</p>
      <p>- Business card: €150</p>
      <p>- Stationery: €150</p>
      <p>- Envelope: €150</p>
      <p>- 3 items for €400</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="container-print">
    <div class="image-section">
      <img src="../../../assets/price/printer-offset1.png" />
    </div>
    <div class="text-section-print">
      <!-- {{ fileContent }} -->
      <p>Examples of printing costs incl.</p>
      <p>
        (Prices depend on paper type, paper thickness, printing and edition)
      </p>
    </div>
  </div>
</div>
<div class="container">
  <div class="container-promotie">
    <div class="image-section">
      <img src="../../../assets/price/promotie_materialen1.png" />
    </div>
    <div class="text-section-promotie">
      <!-- {{ fileContent }} -->
      <h1>FLYER / LEAFLET / BROCHURE / POSTER / MULTOMOLDER</h1>
      <h3>Cost design</h3>

      <p>- Flyer: from €175.00</p>
      <p>- Leaflet: from €325.00</p>
      <p>- Brochure: from €450.00</p>
      <p>- Poster: from €200.00</p>

      <p>
        Examples of printed matter including printing supervision. <br />
        There are too many variables in formats and print runs. Request a free
        quote!
      </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="container-website">
    <div class="image-section">
      <img src="../../../assets/price/webdesign1.png" />
    </div>
    <div class="text-section-website">
      <!-- {{ fileContent }} -->
      <h1>Website</h1>
      <p>
        A3 Studio can be used for: <br />
        A. Concept website (the interactive operation and the layout of the
        information)<br />
        B. Design pages (the look of the pages)<br />
        C. Build the website (the technical realization)<br />
        D. Optimization<br />
        E. Maintenance (the adjust text and image)<br />

        These parts can be ordered together or individually. For example, A3
        Studio makes complete websites, but also delivers separate concepts and
        designs for external web builders. Both for HTML/CSS and WordPress
        websites.
        <br />
        What does a website cost?<br />
        There are too many variables in possibilities, size and technique.
        Request a custom quote without obligation!
      </p>
    </div>
  </div>
</div>


<div class="bottombond" style="background-color: rgb(16, 43, 65);">
  <div class="container" >
    <div class="button-position">
      <p>Ready to talk about your plans? </p>
      <button class="btn">Naturally</button>
    </div>
  </div>
</div>
