.container-1 {
  display: flex;
  height: 40vh; /* Adjust the height as needed */
  background-color: rgb(239, 240, 247); // Set the background color
  color: rgb(46, 72, 93);
  padding-top: 3rem;
}
.container {
  display: flex;
  height: 40vh; /* Adjust the height as needed */

}

.section-1, .section-2, .section-3 {
  flex: 1;
  //background-color: #f2f2f2;
  //border: 1px solid black;
  margin-bottom: 2rem;
}

.category-item {
  display: flex;
  //justify-content: space-between;
  //justify-content: center;
  align-items: center;
}

.category-item a {
  margin-top: 2rem;
  margin-left: 0.5rem;
}
i {
  transition: transform 0.3s ease;
  color: rgb(233, 106, 22);
}

i:hover {
  transform: scale(1.5);
}
