section {
  //padding-top: 1%;
}
.hr1 {
  display: flex;
  padding: 0;
  border: 40px solid rgb(16, 43, 65);
  border-radius: 0px;
  width: 100%;
  margin-bottom: 2rem;
  justify-content: space-between;
  background-color: rgb(16, 43, 65);

  button {
    background-color: rgb(233, 107, 22);
    color: #FFF;
    margin-left: 2rem;
    width: 150px;
  }
  button:hover {
    background-color: #F68337; /* Change the background color on hover */
  }
}

.hr1 p {
  color: rgb(233, 106, 22);
  background-color: rgb(16, 43, 65);
  margin-top: 0.8rem;
  font-size: 35px;
  font-weight: 530;
  font-family: 'Courier New', Courier, monospace;
}

.category-item {
  margin-right: 1rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  //padding: 5px;
  //border: 1px solid #ccc;
  //border-radius: 4px;
  //width: 95px;
  margin-bottom: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  /* Center horizontally */
  align-items: center;
  /* Center vertically */
  //background-color: skyblue;
}

.category-container {
  display: flex;
  flex-wrap: wrap;
  padding-left: 2%;
}

.card-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.card {
  flex: 1 1 100%; /* Default: 1 card per row */
  max-width: 100%; /* Default: 1 card per row */
  box-sizing: border-box;
  margin-bottom: 15px;
  margin-right: 15px;
}

@media (min-width: 768px) {
  .card {
    flex: 0 0 calc(25% - 30px); /* 4 cards per row on larger screens */
    max-width: calc(25% - 30px); /* 4 cards per row on larger screens */
  }
}


.card:last-child {
  margin-right: 0;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.card-body {
  background-color: #f8f9fa;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-categories {
  display: flex;
  flex-wrap: wrap;
}

.card-text {
  margin-bottom: 5px;
  margin-right: 10px;
}
