
div.hr3 {
  margin: 0;
  padding: 0;
  border: 40px solid #FFA500;
  border-radius: 0px;
  width: 100%;
  background-color: #FFA500;
}

.hr3 {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1.title {
  font-size: 40px;
  color: white;
}

.column-image img{
  width: 750px;
  height: 600px;
  padding: 5px ;
  border: #FFA500 1px solid;
}
.column-image,
.category-container {
    display: inline-block;
    width: 60%;
}

.category-container {
  display: flex;
}

.column-text {
  display: inline-block;
  width: 37%;
  padding-left: 10px;
  position: absolute;
}


.category-link a{
  margin-top: 2rem;
  margin-right: 0.5rem;
}
i {
  transition: transform 0.3s ease;
}

i:hover {
  transform: scale(1.5);
  color: #FFA500;
}

.category-item {
  margin-right: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.country {
  padding-top: 2rem;
  font-size: 25px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

i {
  color: #1E3050;
}
