<div class="services">
  <div class="image-container">
    <img
      src="../../../../assets/services/diensten.jpg"
      alt="diensten"
      style="display: block; width: 100%"
    />
  </div>
  <div class="text-overlay">
    <h2>Services</h2>
  </div>

  <div class="container">
    <div class="row pb-5 pt-md-4">
      <div class="col">
        <h1>LOGO DESIGN</h1>
        <h3>Your logo makes the difference</h3>
        <p>
          As a company you must be visible and recognisable. Distinguish yourself
          from the competition – especially now. Your house style is an important
          factor in this. And crucial in the house style is the logo. The logo is
          the eye-catcher: the first thing that catches the eye. A striking logo
          gives your business a face. A familiar face that inspires confidence.
        </p>
        <a class="btn" routerLink="/portofolio">SEE OUR PORTOFOLIO</a>
      </div>
      <div class="col">
        <img
        src="../../../../assets/services/transbaladi-logo-schema1.png"
        alt="transbaladi-logo-schema1"
        style="display: block; width: 100%"
      />
      </div>
    </div>

    <div class="row pb-5">
      <div class="col">
        <img
        src="../../../../assets/services/huissijl1.jpg"
        alt="huissijl1"
        style="display: block; width: 100%"
      />
      </div>
      <div class="col">
        <h1>House style as a tailor-made suit.</h1>
        <p>
          Striking and distinctive, these are key features of a good house style.
          But there is one more thing: a house style must also suit the company.
          With your customers or your clientele . By the nature of products and
          services. A3 Studio designs a house style that fits you like a tailor-made
          suit. One that fits seamlessly with what your company is - and wants to
          be.
        </p>
        <a class="btn" routerLink="/portofolio">SEE OUR PORTOFOLIO</a>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h1>PR Management</h1>
        <p>
          As a company you want to be visible. On paper and on the web, preferably
          wherever potential customers or clients come. As readers of magazines and
          mailings. As visitors to a trade fair. As passers-by in the street where
          your business is located. Or: as random passers-by in a random place. A3
          Studio makes you visibly present − always and everywhere. With
          advertisements, online and offline, that attract attention. With
          recognizable promotional material such as posters, folders, flyers and
          banners. With stylish illuminated advertising and lettering on the facade
          of your building. And as for those random passers-by on the street: catch
          their eye too with an original car sticker by A3 Studio. See first and
          then believe? If desired, we are happy to make an impression in advance.
        </p>
        <a class="btn" routerLink="/portofolio">SEE OUR PORTOFOLIO</a>
      </div>
      <div class="col">
        <img
        src="../../../../assets/services/verekijker1.png"
        alt="transbaladi-logo-schema1"
        style="display: block; width: 100%"
      />
      </div>
    </div>

  </div>

</div>
