<img
  src="../../../assets/images/over_ons_achtergrond.png"
  alt="over_ons_achtergrond"
  class="hide-left"
/>

  <div class="col d-flex flex-column align-items-center">
    <h1>Who are we ?</h1>
    <p>
      To provide the best services for your project, A3 Studio has a flexible
      construction. In this way we can best adapt to your needs. In addition to
      two award-winning designers who create a logo, design a website and take
      care of your house style down to the last detail, our team also consists
      of four freelance employees who can be involved if necessary for your
      project. Depending on your needs, we can call on a copywriter, a
      photographer, a marketer and a programmer. You do not have to contact them
      yourself. The permanent office core is your only interlocutor and ensures
      that you do not have to do anything yourself, but that you do enjoy the
      service of the best professionals from various disciplines. Our
      experienced and talented team is at your service with great enthusiasm.
    </p>
  </div>

  <div class="col-doing">
    <h1>What are we doing</h1>
    <p>
      A3 Studio is more than a design agency. In addition to the traditional
      graphic design tasks such as designing a logo, house style, web design or
      other printed matter, you can also contact us for your advertising and
      promotion needs.
    </p>


  </div>

  <div class="col-logo">
    <div class="row">
      <div class="col ">
        <div class="cercle">
          <span class="dot">
            <a routerLink="services"
              ><fa-icon [icon]="faPaintBrush" class="fa-4x"></fa-icon
            ></a>
          </span>
        </div>

        <h2>Logo</h2>
        <p>
          A striking logo gives your business a face. A familiar face that
          inspires confidence. But: it has to fit.
        </p>
      </div>
      <div class="col">
        <div class="cercle">
          <span class="dot">
            <a routerLink="services"
              ><fa-icon [icon]="faHome" class=" fa-4x"></fa-icon
            ></a>
          </span>
        </div>
        <h2>Corporate identity</h2>
        <p>
          It's times to stand out extra. A good house style gives a unique look
          and fits like a glove.
        </p>
      </div>
      <div class="col">
        <div class="cercle">
          <span class="dot">
            <a routerLink="services"
              ><fa-icon [icon]="faTv" class="fa-4x"></fa-icon>
          </a>
          </span>
        </div>
        <h2>Web design</h2>
        <p>
          A website must 'grab' the visitor: What's in it for me? Form and
          content together ensure an optimal reach.
        </p>
      </div>
    </div>
    <div class="row pt-3 pb-3">
      <div class="col">
        <div class="cercle">
          <span class="dot">
            <a routerLink="services"
              ><fa-icon [icon]="faNewspaper" class="fa-4x"></fa-icon
            ></a>
          </span>
        </div>

        <h2>Promotion</h2>
        <p>
          As a company you want to be visibly present. On paper, on the web -
          and preferably wherever potential customers go..
        </p>
      </div>
      <div class="col">
        <div class="cercle">
          <span class="dot">
            <a routerLink="services"
              ><fa-icon [icon]="faPrint" class="fa-4x"></fa-icon
            ></a>
          </span>
        </div>

        <h2>Printed matter</h2>
        <p>
          Don't take any risks and let A3 Studio also take care of the printing
          of your house style. Always the best price and 100% quality guarantee.
        </p>
      </div>
      <div class="col">
        <div class="cercle">
          <span class="dot">
            <a routerLink="services"
              ><fa-icon [icon]="faTimes" class="fa-4x"></fa-icon
            ></a>
          </span>
        </div>

        <h2>Landing pages</h2>
        <p>
          As a business, your website should be eye-catching. How do you get
          that? Animation, animation will make your website eye-catching.
        </p>
      </div>
    </div>
  </div>
